#popupRoot {
  .aikit-dialog-box {
    border: none;
    background: none;
    width: 100% !important;
    height: 100vh !important;
    max-height: none !important;
  }

  .aikit-dialog-box .dialog-header {
    display: none;
  }

  * {
    box-sizing: border-box;
  }
}
