
.aikit-dialog-box {
  background: #ffffff;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 1px 40px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .dialog-header {
    height: 20px;
    min-height: 20px;
    cursor: move;
  }


  .dialog-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1.5em;
  }

  .dialog-item {
    display: flex;
    gap: 1.6em;
    padding: 1em 1.6em;

    &.assistant {
      background: #f2f2f2;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .avatar {
        background: rgb(16, 163, 127);
        color: #ffffff;
      }
    }

    .avatar {
      background: lightgray;
      border-radius: 2px;
      height: 30px;
      width: 30px;
      font-size: 16px;
      text-align: center;
      box-shadow: none;
      padding: 7px;
      color: #666666;
    }
  }

  .message-input-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5em 24px .5em 10px;
    position: relative;
    bottom: 0;
    flex: 0 1;

    textarea.message-input {
      width: 100%;
      border: none;
      resize: none;
      padding: 0 1.25rem 0 0;
      line-height: 24px;
      min-height: 24px;
      box-shadow: none;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    a.send {
      cursor: pointer;
      position: absolute;
      color: rgba(142, 142, 160, 1);
      padding: 5px;
      top: 0.55em;
      right: 0;

      &:hover {
        color: rgb(16, 163, 127);
      }
    }
  }

  .dialog-list-tail {
    text-align: center;
    padding: 5px 10px;
  }

  .regenerate-btn {
    cursor: pointer;
    align-items: center;
    border-color: transparent;
    border-radius: 0.25rem;
    border-width: 1px;
    display: inline-flex;
    font-size: 1em;
    line-height: 1rem;
    padding: 0.25rem 0.5rem;
    pointer-events: auto;
    background-color: rgba(16, 163, 127, 1);
    color: rgba(255, 255, 255, 1);

    .btn-icon {
      font-size: 1em;
      padding: 3px;

      svg {
        width: 0.75em;
        height: 0.75em;
      }
    }
  }

  .triggerChat {
    text-align: center;
    color: #666666;
    padding: 0.5em;
    font-size: .8em;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      color: #333333;
    }
  }
}
