
.question-tag {
  font-size: .6em;
  border: 1px solid rgb(16, 163, 127);
  padding: 2px .3em;
  display: inline-block;
  margin: 0 .3em;
  border-radius: 2px;
  line-height: 1em;
  vertical-align: middle;
}
